body{    
    background: #eaeaea;
}
*{
    box-sizing: border-box;
    font-family: Poppins,sans-serif;
}
ul{
    padding: 0;
    margin: 0;
}
a{
  text-decoration: none;  
}
ul li{
    list-style: none;
}
input{
    height: 35px;   
}
select{    
    height: 35px;    
    background: white;
    color: #B7B7B7;
    border: 1px solid #DDD;
    text-indent: 5px;    
}
.ml-20{
    margin-left: 20px;
}

.flex{
    display: flex;
}
.left{
    float: left;
}
.right{
    float: right;
}
.clearfix{
    clear: both;
}

.mb-20{
    margin-bottom: 15px;
}

.col-xs-1{
    width: 8.333333%;
}
.col-xs-2{
    width: 16.666667%;
}
.col-xs-3{
    width: 26%;
}
.col-xs-4{
    width: 33.333333%;
}
.col-xs-5{
    width: 42.666667%;
}
.col-xs-6{
    width: 50%;
}
.col-xs-7{
    width: 58.333333%;
}
.col-xs-8{
    width: 66.666667%;
}
.col-xs-9{
    width: 75%;
}
.col-xs-10{
    width: 83.333333%;
}
.col-xs-11{
    width: 91.666667%;
}
.col-xs-12{
    width: 100%;
}