:root {
    --main-bg-color: #eaeaea;
    --highlight-red-color: #f3123c;
    --main-orange-color:#f49a13;
    --main-gray-color: #E8E8E8;
    --highlight-gray-color: #B7B7B7;
    --main-white-color: #FFFFFF;
}   

body{    
    background: var(--main-bg-color);
}
*{
    box-sizing: border-box;
    font-family: Poppins,sans-serif;
}
ul{
    padding: 0;
    margin: 0;
}
a{
  text-decoration: none;  
}
ul li{
    list-style: none;
}
input{
    height: 35px;   
}
select{    
    height: 35px;    
    background: white;
    color: var(--highlight-gray-color);
    border: 1px solid var(--main-gray-color);
    text-indent: 5px;    
}
.ml-20{
    margin-left: 20px;
}

.flex{
    display: flex;
}
.left{
    float: left;
}
.right{
    float: right;
}
.row{    
    clear: both;
}
.mb-20{
    margin-bottom: 15px;
}
.mb-40{
    margin-bottom: 40px;
}
.col-xs-1{
    float:left;
    width: 8.333333%;
}
.col-xs-2{
    float:left;
    width: 16.666667%;
}
.col-xs-3{
    float:left;
    width: 26%;
}
.col-xs-4{
    float:left;
    width: 33.333333%;
}
.col-xs-5{
    float:left;
    width: 47.333333%;
}
.col-xs-5-min{
    float:left;
    width: 44.999999%;
}
.col-xs-6{
    float:left;
    width: 50%;
}
.col-xs-7{
    float:left;
    width: 58.333333%;
}
.col-xs-8{
    float:left;
    width: 66.666667%;
}
.col-xs-9{
    float:left;
    width: 75%;
}
.col-xs-10{
    float:left;
    width: 83.333333%;
}
.col-xs-11{
    float:left;
    width: 94.999999%
}
.col-xs-12{
    float:left;
    width: 100%;
}